
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    Padding: 0px;
}
html{
    background-color: rgba(198, 222, 230, 0.671);
}
header{
    background-color: #2222FF;
}
header h1{
    color: white;
    text-align: center;
    padding: 10px;
}
#burguer{
    background-color: darkblue;
    display: block;
    color: white;
    padding: 10px;
    text-align: center;
}
#burguer:hover{
    background-color: white;
    color:#1919bd;
    cursor:pointer;
}
menu{
    display: none;
}
menu ul{
    list-style-type: none;
}
menu ul > li > a{
    display: block;
    color: white;
    text-decoration: none;
    background-color: #1919bd;
    padding:10px;
    text-align: center;

}
menu a:hover{
    background-color: #01EBEC;
}

main{
    width: 90vw;
    background-color: white;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}
article h2{
    padding-bottom: 15px;
}
article p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 30px;
}
footer.fixar-rodape{
    text-align: center;
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 40px;
    position: relative;
    width: 100%;
  }
