@media screen and (min-width: 768px) and (max-width:992px) {

    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
        img#phone{display: none;}
        img#print{display: none;}
        img#pc{display: none;}
        img#tv{display: none;}
        img#tablet{
            display: block;
            margin: auto;}
    }

@media screen and (min-width: 992px) and (max-width:1200px){

        body{
            background-image: url(../imagens/back-pc.jpg);
        }
        img#phone{display: none;}
        img#tablet{display: none;}
        img#print{display: none;} 
        img#tv{display: none;}
        img#pc{
            display: block;
            margin: auto;}
    }

@media screen and (min-width: 1200px){

         body{
        background-image: url(../imagens/back-tv.jpg);
    }
        img#phone{display: none;}
        img#tablet{display: none;}
        img#print{display: none;}
        img#pc{display: none;}
        img#tv{
            display: block;
            margin: auto;}

    }
@media print{
    body{
        font-family: 'Courier New', Courier, monospace;
    }
    main{
        border: 2px solid black;
       border-radius: 10px;
    }

        img#phone{display: none;}
        img#tablet{display: none;}
        img#pc{display: none;}
        img#tv{display: none;}
        img#print{
            display: block;
            margin: auto;}
}