@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100; 1.200;1.300;1.400;1.500;1.600;1.700;1.800 & display=swap');

@font-face {
    font-family:'idroid';
    src: url(fontes/IDroid.otf) format(opentype);
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
--cor01:  #C5EBD6;
--cor02:  #83E1AD;
--cor03:  #3DDC84;
--cor04:  #2FA886;
--cor05:  #1A5C37;

--fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
--fonte-destaque: 'Bebas Neue';
--fonte-android: 'idroid', cursive;
}


body{
    background-color:var(--cor03);
    font-family: var(--fonte-padrão);
}

header{
    background-image: linear-gradient( to bottom, var(--cor03), var(--cor05)) ;
    min-height: 150px;
    text-align: center;
    font-family: var(--fonte-padrão);

}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    padding: 40px;
    font-size: 3em;
}
header > p{
    color: white;
    padding-bottom: 30px;
    margin: auto;
    
}

nav{
    background-color: var(--cor05);
    padding: 10px;
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    padding: 5px;
}
nav > a:hover{
    background-color: var(--cor04);
    font-size: large;
    transition-duration: 500ms;
}


main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
}
main img{
    width: 100%;
    margin: auto;
}
main img.pequena{
    max-width: 300px;
    display: block;
    margin: auto;
}

main h1{
    color: var(--cor05);
    font-family: 'idroid';
}
main h2{
    color: var(--cor05);
    font-family: 'idroid';
    font-size: 1.1em;
    background-image: linear-gradient(to right, var(--cor03), transparent);
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong{
    color: rgb(7, 75, 7);
}
main a{
    text-decoration: none;
    color: black;
    background-color: var(--cor02);
}
main a:hover{
    background-color: #1A5C37;
    color: white;
    text-decoration: underline;
}
div.video{
    background-color: #1A5C37;
    margin: 10px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color:#83E1AD ;
    padding: 10px;
    border-radius: 10px;
}
aside h3{
    background-color: #1A5C37;
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    text-indent: 30px;
}
aside ul{
    list-style-type: \2714\00a0\00a0\';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color:black ;
    color: white;
    text-align: center;
}
footer a {

    text-decoration: none;
    color: white;
    font-weight: bolder;
}
footer a:hover{
    text-decoration: underline;
    background-color: var(--cor04);
}